<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img th:src="@{logoPrincipal.png}" alt="">
                <img th:src="@{mascote.png}" height="100" width="100" alt="Mascote">
            </a>
        </div>
    </nav>
</header>
<body>
<div class="container">
    <div class="row">
        <span th:text="'  O jogador ' + ${usuario.usuario} + ' encontrou um ' + ${pokemon.name} + '.' "></span>
    </div>
    <div class="row">
        <div class="mx-auto">
            <img th:src="${pokemon.sprites.front_default}">
        </div>
    </div>
    <div>
        <a methods="post" class="btn btn-primary" id="b1" type="button">Capturar</a>
    </div>
    <form id="f1" class="form-signin" method="post">
    <div>
        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome" required="" autofocus="">
        <button methods="post" class="btn btn-primary" type="submit">confirmar</button>
    </div>
    </form>
    <div>
        <a methods="post" href="/expedicao/matar" class="btn btn-primary" type="button">Matar</a>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script>
        $(document).ready(function() {
            $("#f1").hide();
            });

        $("#b1").click(function() {
                $("#f1").show();
         });
    </script>

</html>